.place__rectangule {
  width: 288px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  margin: 8px 16px 8px;
  transition: opacity 0.3s ease-in-out 0.1s;
}

.place__rectangule:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  /* styles for screens with a width between 768px and 1023px */

  .place__rectangule {
    width: 355px;
    height: 48px;
  }
}

@media screen and (min-width: 1024px) {
  /* styles for screens with a width greater than or equal to 1024px */
  .place__rectangule {
    width: 315px;
    height: 22px;
  }
}
