.place__rectangule {
  width: 288px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  margin: 8px 16px 8px;
  transition: opacity 0.3s ease-in-out 0.1s;
}

.place__rectangule:hover {
  opacity: 0.8;
}
