.places {
  
margin-left: 60px AUTO 0PX;

@media screen and (min-width: 768px) {
  /* styles for screens with a width between 768px and 1023px */

  .places {
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  /* styles for screens with a width greater than or equal to 1024px */
  .places {
    margin: auto;
  }
}
