.cover_paragraph {
  width: 158px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.3s ease-in-out 0.1s;
  color: white;
}

.cover__paragraph:hover {
  opacity: 0.6;
}
