.cover__rectangule {
  width: 198px;
  height: 35px;
  background: #0278fe;
  border-radius: 4px;
  margin: 8px 16px 8px;
  text-decoration: none;

  transition: opacity 0.3s ease-in-out 0.1s;
}

.cover__rectangule:hover {
  opacity: 0.8;
}
