.cover__rectangule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 198px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  margin: 165px auto;
}
