.cover__rectangule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 198px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  margin: 165px auto;
  transition: opacity 0.3s ease-in-out 0.1s;
}

.cover__rectangule:hover {
  opacity: 0.8;
}
