.lead__title {
  position: relative;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  width: 250px;
  height: 88px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    width: 793px;
    height: 200px;
  }
}
