.intro__text-author {
  width: 288px;
  height: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;

  color: #ffffff;
}

@media screen and (min-width: 768px) {
  /* styles for screens with a width between 768px and 1023px */
  .intro__text-author {
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text-author {
    width: 720px;
  }
}
